/* app css stylesheet */

body {
  padding-top:70px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.progress-form textarea {
  width:100%;
}

textarea[readonly] {
  background-color:initial !important;
}

.progress-text {
  text-align:center;
  font-weight:bold;
}

.panel-body > .container[role="main"] {
  width:80% !important;
}

form.config .control-label p {
  font-weight:bold;
}

.provider-head {
  font-style:italic;
}

table.providers td {
  border-top:none;
}

table.providers tbody tr:last-child td {
  border-bottom:none;
}

table.providers tr.selected td {
  font-weight:bold;
}

.config textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,
    DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}