<form class="form-horizontal">
    <div class="form-group">
        <label for="parameter1" class="col-sm-2 control-label">Parameter 1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="parameter1" placeholder="Parameter 1">
        </div>
    </div>
    <div class="form-group">
        <label for="parameter2" class="col-sm-2 control-label">Parameter 2</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="parameter2" placeholder="Parameter 2">
        </div>
    </div>

    <div class="form-group">
        <label for="file" class="col-sm-2 control-label">Test script</label>
        <div class="col-sm-10">
            <span class="btn btn-default btn-file">
                Browse <input type="file" class="form-control" id="file" placeholder="File">
            </span>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Run</button>
        </div>
    </div>
</form>