<div class="row">
    <form class="progress-form">
        <div class="form-group">
            <button ng-show="done && !stopped" class="btn btn-success execution-action" ng-click="toResults()">See results</button>
            <button ng-hide="done || !started" class="btn btn-danger execution-action" ng-click="stopExecution()">Stop execution</button>

            <label for="progress">{{ niceStatus }}</label>

        <textarea show-tail class="form-control" id="progress" rows="5" readonly ng-model="progressText">

        </textarea>

        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-striped" ng-class="done ? '' : 'active'" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
            </div>
        </div>
        <div class="progress-text">
            <span>{{ progress }}%</span>
        </div>
    </form>

</div>

<div ng-if="statsAvailable">
    <cpu-usage-histogram fix-y="true" update="update" cpu-usages="cpuUsages"></cpu-usage-histogram>
    <network-speeds-histogram fix-y="true" update="update" network-speeds="networkSpeeds"></network-speeds-histogram>
</div>

<div class="loader" ng-hide="statsAvailable">
    <p><span>Waiting for statistics..</span></p>
</div>
