<div class="row">
    <div class="col-md-12 welcome">
        <h1>Welcome to Vampires!</h1>

        <p>Please select an option below to get started</p>
    </div>
</div>

<div class="row actions">
    <div class="col-md-6">
        <a class="action" href="#/workload">
            <i class="fa fa-play"></i>
            <span>Start New Execution</span>
        </a>
    </div>
    <div class="col-md-6">
        <a class="action" href="#/executions">
            <i class="fa fa-hourglass"></i>
            <span>Check Past Executions</span>
        </a>
    </div>
</div>