/* app css stylesheet */
@media (min-width: 1400px) {
  .container {
    width: 1370px !important;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px !important;
  }
}
body {
  padding-top: 70px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.progress-form textarea {
  width: 100%;
}
textarea[readonly] {
  background-color: initial !important;
}
.progress-text {
  text-align: center;
  font-weight: bold;
}
.panel-body > .container[role="main"] {
  width: 80% !important;
}
form p.control-label {
  font-weight: bold;
}
.provider-head {
  font-style: italic;
}
table.providers td {
  border-top: none;
}
table.providers tbody tr:last-child td {
  border-bottom: none;
}
table.providers tr.selected td {
  font-weight: bold;
}
textarea.monospace {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,
    DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
div.row.actions {
  margin-top: 20px;
}
.action {
  display: block;
  text-align: center;
  border: 1px solid grey;
  padding: 40px 0;
  border-radius: 10px;
}
.action i {
  font-size: 50px;
}
.action i + span {
  display: block;
  margin-top: 10px;
}
.top-margin {
  margin-top: 20px;
}
.btn-file + .file {
  margin-left: 10px;
}
.btn-file + .file .name {
  font-style: italic;
}
.login {
  text-align: center;
}
.login form {
  width: 400px;
  display: inline-block;
  text-align: left;
}
.login button {
  margin-top: 20px;
}
.login p.alert {
  margin-top: 10px;
}
.nav-tabs .text {
  padding: 10px 15px;
}
.histogram {
  position: relative;
  clear: both;
}
.histogram nvd3 {
  width: 70%;
  float: left;
}
.histogram .histogram-stats {
  width: 30%;
  float: left;
}
.stats_block {
  clear: both;
  position: relative;
  margin-bottom: 20px;
}
div.loader {
  text-align: center;
}
button.execution-action {
  float: right;
  margin-bottom: 10px;
}
input.resourceCnt {
  width: 100px !important;
}
.actions button {
  float: right;
}
.actions .message {
  font-style: italic;
  font-weight: bold;
}
.welcome {
  text-align: center;
}
.padding-left-5 {
  padding-left: 5px;
}
.network_speeds .selection {
  margin-bottom: 5px;
}
